<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        
        <meta charset="UTF-8">
        <title>Nathan Torento Kanban Board</title>
        <link rel="stylesheet" type="text/css"  href=" {{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <h1>Your Kanban Board</h1>
        </header>
        
        <!--ACTUAL KANBAN BOARD DIVISIONS-->
        <div id="kanban" class="grid-container form">
            
            <!--DO-->
            <div id="do" class="do">
                <h2>Do</h2>
                <form action="{{ url_for('add', category='add-do') }}" method="POST">
                    
                    <label for="name">Task:</label>
                    <input type="text" name="name" id="name" class="option"><br>
                    
                    <label for="details">Details:</label>
                    <input type="text" name="details" id="details" class="option";><br>
                    
                    <label for="due_date">Due Date:</label>
                    <input type="datetime-local" name="due_date" id="due_date" class="option"><br>

                    <input type="submit" value="Add Task">
                    
                </form>
            </div>
                
            <!--DO TASKS-->
            <div class="do-tasks">
                <h2>Tasks</h2>
                
                {% for task in do %}
				<div class="grid-container task">
                    
                    <div id="task-name" class="task">
                        <h3>Task</h3>
                        <p>{{task.name}}</p>
                    </div>
                    
                    <div id="task-details" class="task">
                        <h3>Details</h3>
                        <p>{{task.details}}</p>
                    </div>
                    
                    <div id="task-due_date" class="task">
                        <h3>Due Date</h3>
                        <p>{{task.due_date}}</p>
                    </div>
                        
                    <div id="task-action" class="task">
                        <a href="{{ url_for('move', category='move-doing', task_id=task.task_id) }}">Start</a>
                        <br>
                        <a href="{{ url_for('move', category='move-done', task_id=task.task_id) }}">Finish</a>
                        <br>
                        <a href="{{ url_for('move',  category='delete', task_id=task.task_id)}}">Delete</a>
                    </div>
                    
                </div>
                <br>
				{% endfor %}
                
            </div>

            <!--DOING-->
            <div id="doing" class="doing">
                <h2>Doing</h2>
                <form action="{{ url_for('add', category='add-doing') }}" method="POST">
                    
                    <label for="name">Task:</label>
                    <input type="text" name="name" id="name" class="option"><br>
                    
                    <label for="details">Details:</label>
                    <input type="text" name="details" id="details" class="option";><br>
                    
                    <label for="due_date">Due Date:</label>
                    <input type="datetime-local" name="due_date" id="due_date" class="option"><br>

                    <input type="submit" value="Add Task">
                    
                </form>
            </div>
                
            <!--DOING TASKS-->
            <div class="doing-tasks">
                <h2>Tasks</h2>
                
                {% for task in doing %}
				<div class="grid-container task">
                    
                    <div id="task-name" class="task">
                        <h3>Task</h3>
                        <p>{{task.name}}</p>
                    </div>
                    
                    <div id="task-details" class="task">
                        <h3>Details</h3>
                        <p>{{task.details}}</p>
                    </div>
                    
                    <div id="task-start_date" class="task">
                        <h3>Start Date</h3>
                        <p>{{task.start_date}}</p>
                    </div>
                    
                    <div id="task-due_date" class="task">
                        <h3>Due Date</h3>
                        <p>{{task.due_date}}</p>
                    </div>
                        
                    <div id="task-action" class="task">
                        <a href="{{ url_for('move', category='move-do',  task_id=task.task_id) }}">Postpone</a>
                        <br>
                        <a href="{{ url_for('move', category='move-done', task_id=task.task_id) }}">Finish</a>
                        <br>
                        <a href="{{ url_for('move', category='delete', task_id=task.task_id) }}">Delete</a>
                    </div>
                    
                </div>
                <br>
				{% endfor %}
            </div>
            
            
            <!--DONE-->
            <div id="done" class="done">
                <h2>Done</h2>
                <form action="{{ url_for('add', category='add-done') }}" method="POST">
                    
                    <label for="name">Task:</label>
                    <input type="text" name="name" id="name" class="option"><br>
                    
                    <label for="details">Details:</label>
                    <input type="text" name="details" id="details" class="option";><br>
                    
                    <label for="start_date">Start Date:</label>
                    <input type="datetime-local" name="start_date" id="start_date" class="option"><br>
                    
                    <label for="due_date">Due Date:</label>
                    <input type="datetime-local" name="due_date" id="due_date" class="option"><br>
                    
                    <label for="end_date">End Date:</label>
                    <input type="datetime-local" name="end_date" id="end_date" class="option"><br>

                    <input type="submit" value="Add Task">
                    
                </form>
            </div>
                
            <!--DONE TASKS-->
            <div class="done-tasks">
                <h2>Tasks</h2>
                
                {% for task in done %}
				<div class="grid-container task">
                    
                    <div id="task-name" class="task">
                        <h3>Task</h3>
                        <p>{{task.name}}</p>
                    </div>
                    
                    <div id="task-details" class="task">
                        <h3>Details</h3>
                        <p>{{task.details}}</p>
                    </div>
                    
                    <div id="task-start_date" class="task">
                        <h3>Start Date</h3>
                        <p>{{task.start_date}}</p>
                    </div>
                    
                    <div id="task-due_date" class="task">
                        <h3>Due Date</h3>
                        <p>{{task.due_date}}</p>
                    </div>
                    
                    <div id="task-end_date" class="task">
                        <h3>End Date</h3>
                        <p>{{task.end_date}}</p>
                    </div>
                        
                    <div id="task-action" class="task">
                        <a href="{{ url_for('move', category='move-do', task_id=task.task_id) }}">Restart</a>
                        <br><a href="{{ url_for('move', category='move-doing', task_id=task.task_id) }}">Continue</a> <br>
                        <a href="{{ url_for('move', category='delete', task_id=task.task_id) }}">Delete</a>
                    </div>
                    
                </div>
                <br>
				{% endfor %}

            </div>
            
        </div>
    </body>
</html>